
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

		@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body class="slideshow-background">

	<div id="preloader" class="preloader">
		<div class="loader-status">
			<div class="spinner"></div>
		</div>
	</div>

	<div class="site-container">

		<div id="top"></div>

		<!-- Mobile logo -->
		<a href="#" class="mobile-logo mobile-logo-light bg-dark">
			<span>Amanda Malat</span>
		</a>

		<!-- Navigation toggle -->
		<button type="button" id="navigation-toggle" class="nav-toggle nav-toggle-light bg-dark">
			<span></span>
		</button>

		@await Component.InvokeAsync("_DefaultHeaderComponentPartial")

		<!-- Header overlay -->
		<div class="header-overlay">
			<div class="overlay-inner bg-dark opacity-80"></div>
		</div>

		<!-- Back to top button -->
		<button type="button" id="backtotop" class="btn btn-primary btn-icon">
			<span class="btn-icon-inner fas fa-angle-up"></span>
		</button>

		<!-- Page wrapper -->
		<div class="page-wrapper">
			<div id="page-cover" class="page-cover">
				<div class="page-cover-wrapper-fixed">
					<div class="page-cover-bg">
						<div class="overlay-inner bg-dark opacity-55"></div>
					</div>
					<div class="page-cover-wrap">

						<section id="home" class="d-flex min-vh-100">
							<div class="container align-self-center text-white text-center">
								<div class="avatar avatar-xxl mb-6">
									<div class="avatar-shape avatar-shape-rounded bg-white mt-n2 mb-n2 mr-n2"></div>
									<img src="/templates/demo/images/dilan.jpg" alt="" class="avatar-img rounded-circle shadow-light">
								</div>
								<h1 class="mb-2 mb-lg-3">Dilan Deregözü</h1>
								<p class="lead mb-0">Backend Developer</p>
								<span class="cover-letter letter-xl text-white opacity-10">D</span>
							</div>
						</section>

					</div>
				</div>
			</div><!--end .page-cover -->

			<div class="page-content">

				@await Component.InvokeAsync("_DefaultAboutComponentPartial")
				
				@await Component.InvokeAsync("_DefaultSkillComponentPartial")

				@await Component.InvokeAsync("_DefaultExperinceComponentPartial")

				@await Component.InvokeAsync("_DefaultServiceComponentPartial")

				@await Component.InvokeAsync("_DefaultPortfolioComponentPartial")

				@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

				@await Component.InvokeAsync("_DefaultContactComponentPartial")

				@await Component.InvokeAsync("_DefaultFooterComponentPartial")
		

				<!-- Site footer -->
			

			</div><!--end .page-content -->
		</div><!-- end .page-wrapper -->

	</div>

	@await Component.InvokeAsync("_DefaultScriptsComponentPartial")

</body>
</html>